[submodule "eleven"]
	path = eleven
	url = https://github.com/uliwitness/eleven.git
[submodule "lua"]
	path = lua
	url = https://github.com/LuaDist/lua.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/uliwitness/tinyxml2.git
